.alert {
  display: flex;
  align-items: center;
  order: -1;
  padding: 1rem;
  background-color: rgba(225, 24, 76, 1);
  border-radius: 4px;
  height: 4rem;

  &--hide {
    display: none;
  }
}

@media (min-width: 992px) {
  .alert {
    order: 0;
    height: 3rem;
  }
}
