.btn {
  background-color: #1484ff;
  padding: 1rem;
  border-radius: 4px;
  color: #f8f8f9;

  &__icon {
    width: 2rem;
    height: 2rem;

    & > svg {
      vertical-align: bottom;
    }
  }

  &--sm {
    padding: 0.5rem 1rem;
  }

  &--hide {
    display: none;
  }
}
