.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &--hide {
    display: none;
  }
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  & > * {
    margin: 0.5rem 0;
  }

  &__header {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0px 4px 8px #141419);
    border-radius: 4px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background: rgba(20, 20, 25, 0.7);
    }

    .btn {
      position: absolute;
      right: 0;
      margin: 1rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin: 5rem 1rem 1rem;

    h1 {
      margin-bottom: 0.5rem;
    }
  }

  &--row {
    display: flex;
    flex-direction: column;

    .card {
      flex: 1;
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 992px) {
    &--row {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__forecast {
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 1rem;
    width: 100%;
    scrollbar-color: #212127 transparent;
    scrollbar-width: thin;

    &:hover {
      scrollbar-color: #27292e #141419;
    }

    &::-webkit-scrollbar {
      height: 0.25em;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &:hover::-webkit-scrollbar-track {
      background: #141419;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background: #212127;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #27292e;
    }

    & > * {
      margin-right: 1rem;
    }

    .card {
      display: inline-block;

      &__text {
        &--lg {
          font-size: 2rem;

          &--temp:after {
            content: "°";
            font-size: 1rem;
            vertical-align: super;
          }
        }
      }
    }
  }
}
