.header {
  background-color: #141419;
  border-bottom: 1px solid #27292e;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  font-weight: 600;
}

.theme-switch {
  background-color: #212127;

  &__icon {
    fill: #a4a4b1;
    transform: scale(0.7);
    transition-duration: 300ms;

    &--active {
      fill: #fd9f27;
    }
  }
}
